html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 8%;
    float: left;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    margin-left: 25%;

}

.brand_logo {
    height: 50px;
    width: 150px;
    border-radius: 0;
    margin-left: 39%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form_change{
    width:80%; /* value of your choice which suits your alignment */
    height: 70%;
    margin-left: 25%;
}


.inputGroupContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2px;
}
